<!DOCTYPE html>
<html>
  <head>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>河口瑶族自治县供电有限责任公司——系统导航</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap-responsiv.css">
	<link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstra.css">
	{% load staticfiles %}
	<script src="{% static 'ipdb/ipdb.js' %}" ></script>
  </head>

  <body>
    <div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">河口供电</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{%url 'index' %}">网页导航</a></li>
					<li><a href="{%url 'ipdb' %}">IP地址管理</a></li>
					<li><a href="?name=liukang">办公用品采购</a><li>
					</li>
				</ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover datatable">
					<caption>网页导航</caption>
					<thead>
						<tr>
							<th>系统名称</th>
							<th>网址</th>
						</tr>
					</thead>
					<tbody>
						{% if webdata %}
						{% for item in webdata %}
						<tr>
							<th>{{ item.name }}</th>
							<th><a href="{{ item.addr }}">{{ item.addr }}</a></th>
						</tr>
						{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>	
    </div>	
  </body>
</html>
