<!DOCTYPE html>
<html>
  <head>
    <META charset="UTF-8">
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>河口瑶族自治县供电有限责任公司——系统导航</title>
	{% load staticfiles %}
	<script src="{% static 'web_nav/web_nav.js' %}"  type="text/javascript"></script>
	<script src="{% static 'web_nav/jquery-2.2.4.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'web_nav/web_nav.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'web_nav/bootstrap.min.css' %}">
  </head>

  <body>
    <div class="container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">河口供电</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{%url 'index' %}">网页导航</a></li>
					<li><a href="{%url 'ipdb' %}">IP地址管理</a></li>
					<li><a href="{%url 'rfid' %}">RFID登记</a><li>
					</li>
				</ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover datatable">
					<thead>
						<tr>
							<th>系统名称</th>
							<th>网址</th>
						</tr>
					</thead>
					<tbody>
						{% if webdata %}
						{% for item in webdata %}
						<tr>
							<th>{{ item.name }}</th>
							<th><a href="{{ item.addr }}">{{ item.addr }}</a></th>
							<th>
								<button id="edit_button" type="button" value="{{item.ip_addr}}">修改</button>
							</th>
						</tr>
						{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>	
    </div>	
  </body>
</html>
