<!DOCTYPE  html>
<html>
  <head>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>河口瑶族自治县供电有限责任公司——IP地址管理</title>
	{% load staticfiles %}
	<script src="{% static 'common/jquery.min-1.11.3.js' %}"></script>
	<script src="{% static 'common/common.js' %}" ></script>
	<link rel="stylesheet" type="text/css" href="{% static 'common/common.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'common/bootstrap.min.css' %}">
  </head>

  <body> 
    <div class="container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">河口供电</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">网页导航</a></li>
					<li><a href="{% url 'ipdb' %}">IP地址管理</a></li>
					<li><a href="{% url 'rfid' %}">RFID登记</a></li>
					<li><a href="{% url 'news_report' %}">新闻报表</a></li>
					</li>
				</ul>
			</div>
		</nav>

		<form class="form-signin" action="{% url 'user_signin'%}">
			<h2 class="form-signin-heading">请登录</h2>
			<select id="user_select">
			{% for user in users %}
				<option value="{{dept}}">{{user}}</option>
			{% endfor %}
			</select>	
			<input type="password" class="input-block-level" placeholder="密码">
			<button class="btn btn-large btn-primary" type="submit">登陆</button>
		</form>
		
    </div>
  </body>
</html>
