<!DOCTYPE  html>
<html>
  <head>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title>河口瑶族自治县供电有限责任公司——IP地址管理</title>
	{% load staticfiles %}
	<script src="{% static 'ipdb/jquery-2.2.4.js' %}"></script>
	<script src="{% static 'ipdb/ipdb.js' %}" ></script>
	<link rel="stylesheet" type="text/css" href="{% static 'ipdb/ipdb.css' %}"> 
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}  
  </head>

  <body> 
    <div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">河口供电</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">网页导航</a></li>
					<li class="active"><a href="#">IP地址管理</a></li>
					<li><a href="{% url 'rfid' %}">RFID登记</a><li>
					</li>
				</ul>
			</div>
		</nav>
		<div>
			<form id="vlan_form" action="{% url 'ipdb' %}" method="post">
				<input type="hidden"  name="post_type" value="vlan_data" />
				<ul id="check_area">
				{% for key,value in vlan_data.items %}
					<li>
						<label for="vlan_{{key}}">{{key}}</label>
						<input id="vlan_{{key}}" type="checkbox" name="{{key}}" value="{{value}}" {% if value == "1" %} checked="checked" {%endif%} />
					</li>
				{% endfor %}
				</ul>
			</form>

			<form id="show_all_form" action="{% url 'ipdb' %}" method="post">
				<input type="hidden" name="post_type" value="show_all" />
				<label for="show_all">显示全部</label>
				<input id="show_all" type="checkbox" name="show_all_flag" value="{{show_all}}" {% if show_all == "1" %} checked="checked" {%endif%} />
			</form>
		</div>
		<table class="table table-striped table-bordered table-hover datatable">
			<thead>
				<tr>
					<th>Vlan</th>
					<th>IP地址</th>
					<th>MAC地址</th>
					<th>部门</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<tbody id="data_table">
			{% for item in ip_data %}
				<tr>
					<form id="data_{{item.ip_addr}}" action="{% url 'ipdb' %}" method="post">
					{% csrf_token %}	
					
					<input type="hidden" name="post_type" value="db_data" />
					{% for key,value in vlan_data.items %}
						<input type="hidden" name="{{key}}" value="{{value}}" />
					{% endfor %}
					<input type="hidden" name="page" value="{{page_index}}" />
					
					<th>{{item.vlan_id}}</th>
					<th><input class="hide_mode" type="hidden" name="ip_addr" value="{{item.ip_addr}}" />{{item.ip_addr}}</th>
					<th><input class="hide_mode" id="mac_{{item.ip_addr}}" name="mac_addr" value="{{item.mac_addr}}" /><div id="div_mac_{{item.ip_addr}}">{{item.mac_addr}}</div></th>					
					<th><div id="div_dept_{{item.ip_addr}}">{{item.dept}}</div>
						<select class="hide_mode" id="dept_{{item.ip_addr}}" name="dept">
						{% for dept in depts_data %}
							<option value="{{dept}}">{{dept}}</option>
						{% endfor %}
						</select>	
					</th>
					<th><input id="noted_{{item.ip_addr}}" class="hide_mode" name="noted" value="{{item.noted}}" /><div id="div_noted_{{item.ip_addr}}">{{item.noted}}</div></th>
					<th>
						<button id="edit_{{item.ip_addr}}" type="button" name="{{item.ip_addr}}">修改</button>
						<button id="delete_{{item.ip_addr}}" type="button">清除</button>
						<button id="ok_{{item.ip_addr}}" type="button" class="hide_mode">确定</button>
						<button id="no_{{item.ip_addr}}" type="button" class="hide_mode">取消</button>
					</th>
					</form>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<form id="page_form" action="{% url 'ipdb' %}" method="post" >
			<input type="hidden" name="post_type" value="paging" />
			{% for key,value in vlan_data.items %}
				<input type="hidden" name="{{key}}" value="{{value}}" />
			{% endfor %}
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
				{% for page in page_size %}
					<li><a id="a_{{page}}" {% if page_index == page %} class="checked" {% endif %}>{{page}}</a></li>
				{% endfor %}
				<li><a href="#">&raquo;</a></li>
			</ul>
		</form>
		<p>{{session_id}}</p>
    </div>
  </body>
</html>
